<div class="logo"> Song It
</div>

<form action="/search" method="post">
  <div class="find-new">
    <label for="right-label" class="text-center">Let's find you something new</label><br>
    <input type="text" name="name" id="right-label" placeholder="Enter an artist's name here">
  </div>
</form>
