<h5>PURGE THE SCUM</h5>

<ul>
    <% @songs.order(created_at: :desc).each do |song| %>
      <li>
        <%= link_to song.title, song_path %>
        <%= link_to 'Delete this stupid dribble?', song_path(song), method: :delete%>
      </li>
    <% end %>
  </ul>
